<!DOCTYPE html>
{% load static %}

<!-- Navigation Bar -->
<div class='jayNavigationBar'>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'Home:index' %}">TechDeciphers</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'Notebooks:index' %}">My Notebooks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'Tutorials:index' %}">Tutorials</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'Notebooks:notebook_form' %}">Add Notebook</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'Tutorials:tutorial_form' %}">Add Tutorial</a></li>
            {% endif %}
          </ul>

          <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 navigationSearchBar" type="search" id="search_article_name" placeholder="Search Tutorials" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0 navigationSearchBtn" type="button" onclick="searchArticles();">Search</button>
          </div>

      </div>
  </nav>
</div>

<!-- Hamburger Menu   -->
<div class='jayHamburgerMenu' style="display : none">
  <div class="topnav">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    <a href="{% url 'Home:index' %}" class="active" id='techDeciphersHeading'>TechDeciphers</a>
    <div id="myLinks">
      <a href="{% url 'Home:index' %}">TechDeciphers</a>
      <a href="{% url 'Notebooks:index' %}">My Notebooks</a>
      <a href="{% url 'Tutorials:index' %}">Tutorials</a>
    </div>
  </div>
</div>

<!-- Css Link For Navigation Bar -->
<link rel="stylesheet" href="{% static "CommonTemplates/NavigationBar/navigationBar.css" %}">
<script src="{% static "CommonTemplates/NavigationBar/navigationBar.js" %}"></script>
