<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leaks</title>

    <!-- Common Imports Like Bootstrap and Jquery -->
    {% include "CommonTemplates/CommonImports/allImports.html" %}

    <!-- Link to My Script and CSS -->
    <link rel="stylesheet" href="{% static "TechDeciphers_Leaks/Css/main.css" %}">
    <script src="{% static "TechDeciphers_Leaks/Js/script.js" %}"></script>

  </head>
  <body>

    <!-- Navigation Bar -->
    {% include "CommonTemplates/NavigationBar/navigationBar.html" %}

    <div class="container">
      <!-- Main Body -->
      <div class="row">
        <div class="col-lg-9 col-sm-9">
          <div class="row">

            {% for count in times %}

            <div class="col-sm-6">
              <div class="card">
                <div class="row">
                  <div class="col-lg-4">
                    <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/motoedge.jpg" %}" alt="Card image cap">
                  </div>

                  <div class="col-lg-8">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class='articlePublishDetails'> <span class='articleAuthor'>Akshith Jay</span> <span class='publishDate'>12 May 2020</span> </p>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <div class="row">
                  <div class="col-lg-4">
                    <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/iphone11.jpg" %}" alt="Card image cap">
                  </div>

                  <div class="col-lg-8">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <p class='articlePublishDetails'> <span class='articleAuthor'>Akshith Jay</span> <span class='publishDate'>12 May 2020</span> </p>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <div class="row">
                  <div class="col-lg-4">
                    <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/oneplus8.jpg" %}" alt="Card image cap">
                  </div>

                  <div class="col-lg-8">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <p class='articlePublishDetails'> <span class='articleAuthor'>Akshith Jay</span> <span class='publishDate'>12 May 2020</span> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <div class="row">
                  <div class="col-lg-4">
                    <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/samsung.jpg" %}" alt="Card image cap">
                  </div>

                  <div class="col-lg-8">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <p class='articlePublishDetails'> <span class='articleAuthor'>Akshith Jay</span> <span class='publishDate'>12 May 2020</span> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>

        <div class="col-lg-3 col-sm-3">
          <!-- AdSense Code will be added here. -->
        </div>

    </div>
  </div>
    <!-- Footer -->
    {% include "CommonTemplates/Footer/techDeciphersFooter.html" %}


  </body>
</html>
