<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leaks</title>

    <!-- Common Imports Like Bootstrap and Jquery -->
    {% include "CommonTemplates/CommonImports/allImports.html" %}

    <!-- Link to My Script and CSS -->
    <link rel="stylesheet" href="{% static "TechDeciphers_Leaks/Css/main.css" %}">
    <script src="{% static "TechDeciphers_Leaks/Js/script.js" %}"></script>

  </head>
  <body>

    <!-- Navigation Bar -->
    {% include "CommonTemplates/NavigationBar/navigationBar.html" %}

    <div class="container">
      <!-- Main Body -->
      <div class="row">
        <div class="col-lg-9 col-sm-9">
          <div class="row">

            {% if page_obj %}
              {% for leak in page_obj %}
                <div class="col-sm-6">
                  <div class="card">
                    <div class="row" onclick='openThisArticle("{{leak.leakId}}")'>
                      <div class="col-lg-4">
                        {% if leak.leakImage %}
                          <img class="card-img-top" src="{{ leak.leakImage.url }}" alt="Card image cap">
                        {% else %}
                          <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/imageNotFound.png" %}" alt="Card image cap">
                        {% endif %}
                      </div>

                      <div class="col-lg-8">
                          <div class="card-body">
                            <h5 class="card-title">{{ leak.heading }}</h5>
                            <p class="card-text">{{leak.miniHeading}}</p>
                            <p class='articlePublishDetails'> <span class='articleAuthor'>{{leak.postAuthor}}</span> <span class='publishDate'>{{leak.postPublishDate}}</span> </p>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}

          </div>

          <div style="text-align: center;">
            <nav aria-label="Page navigation example" style="display: inline-block;">
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                  {% endif %}
                  <li class="page-item"><a class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                  {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                  {% endif %}
                </ul>
            </nav>
         </div>

        </div>

        <form action="getArticlePostContents/" id='getArticlePostContents' method="POST">
          {% csrf_token %}
          <input type="hidden" id='articlePrimaryId' name="articlePrimaryId" value="">
        </form>

        <div class="col-lg-3 col-sm-3">

          {% for count in times %}

          <!-- Carousel -->
          {% include "CommonTemplates/Carousel/verticleCarousel.html" %}

          {% endfor %}

        </div>

    </div>
  </div>

    <!-- Footer -->
    {% include "CommonTemplates/Footer/techDeciphersFooter.html" %}


  </body>
</html>

<script>

function openThisArticle(articleId) {

  $('#articlePrimaryId').val(articleId);
  $('#getArticlePostContents').submit();

}

</script>
