.jayNavigationBar .navbar .navbar-brand {
  font-size: 140%;
}

.jayNavigationBar nav.navbar {
  width: 100%;
}

.jayNavigationBar .navbar .navbar-brand:hover {
  color:#17a2b8 !important;
}

.jayNavigationBar .navbar ul.navbar-nav li a {
  font-size: 120%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.jayNavigationBar .navbar ul.navbar-nav li a:hover {
  color:#17a2b8 !important;
}

.bg-dark {
  background-color: #000020 !important;
}

.navigationSearchBar {
  width: 18em !important;
  background-color: #cce6e9;
}

.navigationSearchBtn {
  width: 8em;
}

@media only screen and (max-width: 1079px) {

  .jayNavigationBar {
    display: none;
  }

  .jayHamburgerMenu {
    display : block !important;
  }

  /* For Hamburger Menu */

  .topnav {
    overflow: hidden;
    background-color: #000020;
    position: relative;
    height: 2.3em;
  }

  .topnav #myLinks {
    position: absolute;
    display: none;
    left: 0em;
    top: 1.8em;
  }

  .topnav a {
    color: white;
    padding: 0.38em 0.8em;
    text-decoration: none;
    font-size: 1.05em;
    display: block;
  }

  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .topnav a:hover {
    color:#17a2b8;
  }

  .companyHeading{
    position: absolute;
    color: white;
    top: 1%;
    left: 33%;
  }

  .companyHeading a{
    color: white;
  }

  .companyHeading a:hover {
    color:#17a2b8;
  }

  #techDeciphersHeading{
    margin-left: 31%;
  }

}
