<!DOCTYPE html>
{% load static %}

<!-- To Make Website Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Jquery CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<!-- Website Logo -->
<link rel="shortcut icon" type="image/x-icon" href="{% static "CommonTemplates/NavigationBar/TD.png" %}" />

<!-- SummerNote Script and Style -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- Font Awesome Link -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<script src="https://kit.fontawesome.com/d2343b0ea3.js" crossorigin="anonymous"></script>

<!-- Google Fonts Arvo -->
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

<!-- Bootstrap Autocomplete -->
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>

<!-- Google AdSense Code -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7862121967543043" crossorigin="anonymous"></script>

<!-- Write All the Global Realted Css Code Here -->
<style>

body {
  background-color: #f5f5f5;
  font-family: 'Arvo', serif;
}

.container {
    max-width: 85%;
    margin-top: 10px;
}

</style>
