<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gadgets</title>

    <!-- Common Imports Like Bootstrap and Jquery -->
    {% include "CommonTemplates/CommonImports/allImports.html" %}

    <!-- Link to My Script and CSS -->
    <link rel="stylesheet" href="{% static "TechDeciphers_Gadgets/Css/main.css" %}">
    <script src="{% static "TechDeciphers_Gadgets/Js/main.js" %}"></script>

  </head>
  <body style='background-color: #f5f5f5'>

    <!-- Navigation Bar -->
    {% include "CommonTemplates/NavigationBar/navigationBar.html" %}


    <div class="container">
      <!-- Main Body Starts -->
      <div class="row">
        <div class="col-lg-9">
          <div class="row">

            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/iphone11.jpg" %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Iphone 11</h5>
                  <p class="card-text">
                    iPhone 11 Black 128GB All-new dual-camera system with Ultra Wide.
                    Night mode and stunning video quality. Water and dust resistance.
                    All-day battery life.2 In six stunning colours. Experience iPhone at 11.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/motoedge.jpg" %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Motorola Edge</h5>
                  <p class="card-text">
                    Motorola Edge smartphone was launched on 22nd April 2020.
                    The phone comes with a 6.70-inch touchscreen display.
                    Motorola Edge is powered  Qualcomm Snapdragon 765 processor.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/oneplus8.jpg" %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">OnePlus 8</h5>
                  <p class="card-text">
                    OnePlus 8 smartphone was launched on 14th April 2020.
                    The phone comes with a 6.55-inch touchscreen display with a resolution.
                    At a pixel density of 402 pixels per inch (ppi) and an ratio of 20:9.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/oppof9.jpg" %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Oppo F9</h5>
                  <p class="card-text">
                    The Oppo F9 has a stunning design and there are two colour.
                    The highlight of this smartphone is the 6.3-inch display.
                    Powering the smartphone is a MediaTek Helio P60 processor.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/realme.jpg" %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Realme F1</h5>
                  <p class="card-text">
                    Realme is a Shenzhen-based Chinese smartphone manufacturer.
                    The brand was officially established on May 4, 2018 by Sky Li.
                    Realme also produces a wide range of other products such HP.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/samsung.jpg" %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Samsung Galaxy</h5>
                  <p class="card-text">
                    This smartphone comes packed with great features with latest technology.
                    The Samsung Galaxy M30 mobile phone not only looks elegant and trendy.
                    This is one of the Fastest Phone. In the History of Humankind.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/iphone11.jpg" %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Iphone 11</h5>
                  <p class="card-text">
                    iPhone 11 Black 128GB All-new dual-camera system with Ultra Wide.
                    Night mode and stunning video quality. Water and dust resistance.
                    All-day battery life.2 In six stunning colours. Experience iPhone at 11.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/motoedge.jpg" %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Motorola Edge</h5>
                  <p class="card-text">
                    Motorola Edge smartphone was launched on 22nd April 2020.
                    The phone comes with a 6.70-inch touchscreen display.
                    Motorola Edge is powered  Qualcomm Snapdragon 765 processor.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/oneplus8.jpg" %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">OnePlus 8</h5>
                  <p class="card-text">
                    OnePlus 8 smartphone was launched on 14th April 2020.
                    The phone comes with a 6.55-inch touchscreen display with a resolution.
                    At a pixel density of 402 pixels per inch (ppi) and an ratio of 20:9.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3" id="corouselId">
          {% for count in times %}

          <!-- Carousel -->
          {% include "CommonTemplates/Carousel/verticleCarousel.html" %}

          {% endfor %}
        </div>

      </div>
    </div>

    <!-- Footer -->
    {% include "CommonTemplates/Footer/techDeciphersFooter.html" %}

  </body>
</html>
