<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>News</title>

    <!-- Common Imports Like Bootstrap and Jquery -->
    {% include "CommonTemplates/CommonImports/allImports.html" %}

    <!-- Link to My Script and CSS -->
    <link rel="stylesheet" href="{% static "TechDeciphers_Leaks/Css/main.css" %}">
    <script src="{% static "TechDeciphers_Leaks/Js/script.js" %}"></script>

  </head>
  <body>

    <!-- Navigation Bar -->
    {% include "CommonTemplates/NavigationBar/navigationBar.html" %}

    <div class="container">
      <!-- Main Body -->
      <div class="row">
        <div class="col-lg-9 col-sm-9">
          <div class="row">

            {% if newsList %}
              {% for news in newsList %}
                <div class="col-sm-6">
                  <div class="card">
                    <div class="row">
                      <div class="col-lg-4">
                        <img class="card-img-top" src="{{ news.newsImage.url }}" alt="Card image cap">
                      </div>

                      <div class="col-lg-8">
                          <div class="card-body">
                            <h5 class="card-title">{{ news.heading }}</h5>
                            <p class="card-text">{{news.miniHeading}}</p>
                            <p class='articlePublishDetails'> <span class='articleAuthor'>{{news.postAuthor}}</span> <span class='publishDate'>{{news.postPublishDate}}</span> </p>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}

          </div>
        </div>

        <div class="col-lg-3 col-sm-3">

          {% for count in times %}

          <!-- Carousel -->
          {% include "CommonTemplates/Carousel/verticleCarousel.html" %}

          {% endfor %}

        </div>

    </div>
  </div>

    <!-- Footer -->
    {% include "CommonTemplates/Footer/techDeciphersFooter.html" %}


  </body>
</html>
