<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>TechDeciphers</title>

      <!-- Common Imports Like Bootstrap and Jquery -->
      {% include "CommonTemplates/CommonImports/allImports.html" %}

      <!-- CSS and JS related to this Page -->
      <link rel="stylesheet" href="{% static "Home/Css/home.css" %}">
      <script src="{% static "Home/Js/home.js" %}"></script>
  </head>
  <body>

  <!-- Navigation Bar -->
  {% include "CommonTemplates/NavigationBar/navigationBar.html" %}

  <div class="container">
      <!-- Main Body -->
      <div class="row">
          <div class="col-lg-9 col-sm-9" id='homeArticlContainer'>

              <h4>My Notebooks</h4>
              <div class="row singleTypeContainer mt-4 mb-4">
                  {% include "Home/homeForMyNotebooks.html" %}
              </div>
              <p class='takeMetoClass'> <a href="{% url 'Notebooks:index' %}">Take me to My Notebooks Page  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
              <hr>
              <h4>Tutorials</h4>
              <div class="row singleTypeContainer mt-4 mb-4">
                  {% include "Home/homeForTutorials.html" %}
              </div>
              <p class='takeMetoClass'> <a href="{% url 'Tutorials:index' %}">Take me to Tutorials Page  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>

          </div>

          <form action="get_article_post_contents/" id='get_article_post_contents' method="GET">
              {% csrf_token %}
              <input type="hidden" id='article_primary_id' name="article_primary_id" value="">
              <input type="hidden" id='article_type' name="article_type" value="">
          </form>

          <div class="col-lg-3 col-sm-3" style="margin-top: 50px;">
              <!-- AdSense Code will be added here. -->
          </div>
      </div>
  </div>

  <!-- Footer -->
  {% include "CommonTemplates/Footer/techDeciphersFooter.html" %}

  </body>
</html>
