<!DOCTYPE html>
{% load static %}

{% if tutorials %}
{% for tutorial in tutorials %}
<div class="col-sm-6 col-md-4" onclick="openThisArticle('/tutorials/get_article_contents/?article_primary_id={{tutorial.tutorial_id}}');">
    <div class="card">
        <div class="image">
            <img src="{{ tutorial.tutorial_image.url }}" />
        </div>
        <div class="card-inner">
            <div class="header">
                <h5 data-toggle="tooltip" data-placement="bottom" title="{{tutorial.heading}}">{{tutorial.heading}}</h5><hr>
                <h6 data-toggle="tooltip" data-placement="bottom" title="{{tutorial.description}}">{{tutorial.description}}</h6><hr>
            </div>
            <div class="content">
                <p data-toggle="tooltip" data-placement="bottom" title="{{tutorial.postAuthor}} - {{tutorial.postPublishDate}}">{{tutorial.postAuthor}} - {{tutorial.postPublishDate}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p>0 Tutorials Found</p>
{% endif %}
