.articleContainer {
  margin-top: 20px;
}
.articleImage {
  text-align: center;
}

.articleImage img {
  width: 600px;
  height: 400px;
}

#articleAuthor{
  font-weight: bold;
}

#postedDate1 {
  float: right;
}

#postedDate2 {
  font-weight: bold;
}

#postDetails {
  font-size: 20px;
}

.articleContent {
  font-size: 17px;
  text-align: justify;
}

#postTitle {
  font-size: 30px;
}

.col-lg-3 .carousel {
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 353.75px;
  height: 353.75px;
  padding: 5px;
  border: 0.4px solid #cdcdcd;
  border-radius: 15px;
  cursor: pointer;
}

.col-lg-3 .carousel img {
  max-height: 210px;
  height: 210px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

.carousel-item h5, .carousel-item p {
  text-align: center;
}

@media only screen and (max-width: 1079px) {

  .articleImage img {
    width: 100%;
    height: 100%;
  }

  #postDetails {
    font-size: 10px;
  }

  #corouselId {
    display: none;
  }

}
