<!DOCTYPE html>
{% load static %}

{% if topXList %}
  {% for topX in topXList %}
    <div class="col-sm-6">
      <div class="card">
        <div class="row" onclick='openThisArticle("{{topX.topXId}}","topX")'>
          <div class="col-lg-4">
            <img class="card-img-top" src="{{ topX.topXImage.url }}" alt="Card image cap">
          </div>

          <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title">{{ topX.heading }}</h5>
                <p class="card-text">{{topX.miniHeading}}</p>
                <p class='articlePublishDetails'> <span class='articleAuthor'>{{topX.postAuthor}}</span> <span class='publishDate'>{{topX.postPublishDate}}</span> </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
