<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>News</title>

    <!-- Common Imports Like Bootstrap and Jquery -->
    {% include "CommonTemplates/CommonImports/allImports.html" %}

    <!-- Link to My Script and CSS -->
    <link rel="stylesheet" href="{% static "TechDeciphers_Home/Css/main.css" %}">
    <link rel="stylesheet" href="{% static "TechDeciphers_Gadgets/Css/main.css" %}">
    <link rel="stylesheet" href="{% static "TechDeciphers_News/Css/main.css" %}">
    <link rel="stylesheet" href="{% static "TechDeciphers_TopX/Css/main.css" %}">
    <link rel="stylesheet" href="{% static "TechDeciphers_Leaks/Css/main.css" %}">


  </head>
  <body>

    <!-- Navigation Bar -->
    {% include "CommonTemplates/NavigationBar/navigationBar.html" %}

    <div class="container">
        <!-- Main Body -->
        <div class="row">
          <div class="col-lg-9 col-sm-9" id='homeArticlContainer'>

            <h4>Gadgets</h4>
            <div class="row" class='singleTypeContainer'>
              {% include "TechDeciphers_Home/homeForGadgets.html" %}
            </div>
            <p class='takeMetoClass'> <a href="{% url 'TechDeciphers_Gadgets:index' %}">Take me to Gadgets Page <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
            <hr>
            <h4>News</h4>
            <div class="row" class='singleTypeContainer'>
              {% include "TechDeciphers_Home/homeForNews.html" %}
            </div>
            <p class='takeMetoClass'> <a href="{% url 'TechDeciphers_News:index' %}">Take me to News Page <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
            <hr>
            <h4>Leaks</h4>
            <div class="row" class='singleTypeContainer'>
              {% include "TechDeciphers_Home/homeForLeaks.html" %}
            </div>
            <p class='takeMetoClass'> <a href="{% url 'TechDeciphers_Leaks:index' %}">Take me to Leaks Page <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
            <hr>
            <h4>TopX</h4>
            <div class="row" class='singleTypeContainer'>
              {% include "TechDeciphers_Home/homeForTopX.html" %}
            </div>
            <p class='takeMetoClass'> <a href="{% url 'TechDeciphers_TopX:index' %}">Take me to TopX Page <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </p>
            <hr>


          </div>

          <form action="getArticlePostContents/" id='getArticlePostContents' method="POST">
            {% csrf_token %}
            <input type="hidden" id='articlePrimaryId' name="articlePrimaryId" value="">
            <input type="hidden" id='articleType' name="articleType" value="">
          </form>

          <div class="col-lg-3 col-sm-3" style="margin-top: 50px;">
              {% for count in times %}
                <!-- Carousel -->
                {% include "CommonTemplates/Carousel/verticleCarousel.html" %}
              {% endfor %}
          </div>
      </div>
    </div>

    <!-- Footer -->
    {% include "CommonTemplates/Footer/techDeciphersFooter.html" %}

  </body>
</html>

<script>

function openThisArticle(articleId, articleType) {

  $('#articlePrimaryId').val(articleId);
  $('#articleType').val(articleType);
  $('#getArticlePostContents').submit();

}

</script>
