<!DOCTYPE html>
{% load static %}

{% if myNotebooks %}
{% for notebook in myNotebooks %}
<div class="col-sm-6 col-md-4">
    <div class="card">
        <div class="image">
            <img src="{{ notebook.notebook_image.url }}" />
        </div>
        <div class="card-inner">
            <div class="header">
                <h5 data-toggle="tooltip" data-placement="bottom" title="{{notebook.heading}}">{{ notebook.heading }}</h5><hr>
                <h6 data-toggle="tooltip" data-placement="bottom" title="{{notebook.description}}">{{notebook.description}}</h6><hr>
            </div>
            <div class="content">
                <p data-toggle="tooltip" data-placement="bottom" title="{{notebook.postAuthor}} - {{notebook.postPublishDate}}">{{notebook.postAuthor}} - {{notebook.postPublishDate}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p style="position: relative;left: 30%;">Sorry, None of the articles Matched your Search Entry.</p>
{% endif %}
