<!DOCTYPE html>
{% load static %}

{% if newsList %}
  {% for news in newsList %}
    <div class="col-sm-6">
      <div class="card">
        <div class="row" onclick='openThisArticle("{{news.newsId}}","news")'>
          <div class="col-lg-4">
            <img class="card-img-top" src="{{ news.newsImage.url }}" alt="Card image cap">
          </div>

          <div class="col-lg-8">
              <div class="card-body">
                <h5 class="card-title">{{ news.heading }}</h5>
                <p class="card-text">{{news.miniHeading}}</p>
                <p class='articlePublishDetails'> <span class='articleAuthor'>{{news.postAuthor}}</span> <span class='publishDate'>{{news.postPublishDate}}</span> </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
