<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ myArticleContents.heading }}</title>

    <!-- Common Imports Like Bootstrap and Jquery -->
    {% include "CommonTemplates/CommonImports/allImports.html" %}

  </head>
  <body>
    <!-- Navigation Bar -->
    {% include "CommonTemplates/NavigationBar/navigationBar.html" %}
    <!-- Trying this FIle to COmmit -->
    <div class="container">

      <div class="row aboutUsBody">
        <div class="col-md-9">
          <h3>About Us</h3>

          <p class='justifiedContentAboutUs'>
            Hey, Welcome! Thanks a lot for showing your interest in Us. I am a Software Engineer and a Data Science Enthusiast
            who have created this website to deliver informative contents to our viewers on Data Science realted tools and Python Packages.
          </p>
          <p class='justifiedContentAboutUs'>
            This page still lacks a content, I am working on adding a lot. Thanks again for visiting.
          </p>
        </div>
      </div>

    </div>

    <!-- Footer -->
    {% include "CommonTemplates/Footer/techDeciphersFooter.html" %}

  </body>

  <style>
    .aboutUsBody {
      margin-top: 20px;
      margin-bottom: 200px;
    }

    .justifiedContentAboutUs {
      text-align: justify;
      margin-top: 20px;
      font-size: 20px;
    }
  </style>

</html>
