<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ myArticleContents.heading }}</title>

    <!-- Common Imports Like Bootstrap and Jquery -->
    {% include "CommonTemplates/CommonImports/allImports.html" %}

  </head>
  <body>
    <!-- Navigation Bar -->
    {% include "CommonTemplates/NavigationBar/navigationBar.html" %}
    <!-- Trying this FIle to COmmit -->
    <div class="container">

      <div class="row aboutUsBody">
        <div class="col-md-9">
          <h3>About Us</h3>

          <p class='justifiedContentAboutUs'>
            Hey, Welcome! Thanks a lot for showing your interest in Us. We are small group of developers and Tech Enthusiast
            who have created this website to deliver informative contents to our viewers on trending and Upcoming technology.
          </p>
          <p class='justifiedContentAboutUs'>
            We are mainly focused on creating contents which are "Simple and Small", we don't want our viewers to read lengthy articles
            about the content they are looking for. In other words we are not gonna talk about Predecessor of a Flagship phone instead of
            getting directly into that particular phone which you are looking for. We will make sure you spend very little time reading an
            article and get most out of it.
          </p>
          <p class='justifiedContentAboutUs'>
            Right now we have four types of article. Gadgets, where we upload all the specs, price, etc about newly released gadgets. News, where
            we upload contents on the treding and upcomming technology. Top X, where we upload articles like Top 5 Softwares to install, Top 5
            Programming Languages to learn, Top 10 Best DSLR Cameras etc. And finally Leaks, here we upload leaked Specs on a gadget like release date,
            price etc.
          </p>
          <p class='justifiedContentAboutUs'>
            This website is still in its early stage of development, we will be making a lot of changes and improvements to it
            in the future. So if you have any suggestions please feel free to drop them. And also feel free to drop down any bugs you encounter.
            Thanks Again, have a nice day..!
          </p>
        </div>
      </div>

    </div>

    <!-- Footer -->
    {% include "CommonTemplates/Footer/techDeciphersFooter.html" %}

  </body>

  <style>
    .aboutUsBody {
      margin-top: 20px;
      margin-bottom: 200px;
    }

    .justifiedContentAboutUs {
      text-align: justify;
      margin-top: 20px;
      font-size: 20px;
    }
  </style>

</html>
