<!DOCTYPE html>
{% load static %}

<!-- Footer -->
<div class="footer forLargeScreen">

    <div class="row">
      <div class="col-lg-3">
            <img src="{% static "CommonTemplates/Footer/TechDeciphersLogo.png" %}" alt="TechDecipher">
      </div>

      <div class="col-lg-3 socialMediaLinks">
          <p><a href="#"><span>My Notebooks</span></a></p>
          <p><a href="#"><span>Tutorials</span></a></p>
          <p><a href="https://github.com/sprakshith/DataScienceNotebooks" target="_blank"><span>GitHub</span></a></p>
          <p><a href="https://www.kaggle.com/sprakshith" target="_blank"><span>My Kaggle Account</span></a></p>
      </div>

      <div class="col-lg-3 socialMediaLinks">
          <p><a href="https://www.facebook.com/techDeciphers/"><span id='facebook'><i class="fa fa-facebook-square" aria-hidden="true"></i></span> Facebook</a></p>
          <p><a href="https://twitter.com/tech_decipher/"><span id='twitter'><i class="fa fa-twitter" aria-hidden="true"></i></span> Twitter</a></p>
          <p><a href="https://www.instagram.com/tech_deciphers/"><span id='instagram'><i class="fa fa-instagram" aria-hidden="true"></i></span> Instagram</a></p>
          <p><a href="https://youtube.com"><span id='youtube'><i class="fa fa-youtube" aria-hidden="true"></i></span> Youtube</a></p>
      </div>

      <div class="col-lg-3" id="footer-right-3">
        <p id='dropSuggestion'><a href="javascript:void(0)">Drop Your Suggestion</a></p>
        <p id='moreAboutUs'><a href="{% url 'TechDeciphers_Home:aboutUsPage' %}">About Us</a></p>
        <p id='stayConnected'><input class='form-control' type="text" placeholder="Email Id here..."> </p>
        <button type="submit" id='keepMeUpdatedBtn' class='btn btn-outline-info my-2 my-sm-0 updateMeBtn'>Keep Me Updated.!</button>
      </div>
    </div>

</div>

<div class="footer forSmallScreen" style='display:none'>
   <p>
     <a href="https://www.facebook.com/techDeciphers/"><span id='facebook'><i class="fa fa-facebook-square" aria-hidden="true"></i></span></a>
     <a href="https://twitter.com/tech_decipher/"><span id='youtube'><i class="fa fa-youtube" aria-hidden="true"></i></span></a>
     <a href="https://www.instagram.com/tech_deciphers/"><span id='instagram'><i class="fa fa-instagram" aria-hidden="true"></i></span></a>
     <span id='dropSuggestion2'><a href="javascript:void(0)"><span id='dropSuggestionMini'><i class="fas fa-inbox" aria-hidden="true"></i></span></a></span>
   </p>
   <p id='copyrightId'>Thanks for visiting TechDeciphers. Click on Patreon to Suppor Us.</p>
</div>

  <!-- Drop Suggestion Modal -->
  {% include "CommonTemplates/Modals/dropSuggestion.html" %}

  <!-- Support Us -->
  {% include "CommonTemplates/Modals/supportUs.html" %}



<!-- Css Link For Footer -->
<link rel="stylesheet" href="{% static "CommonTemplates/Footer/techDeciphersFooter.css" %}">
<script src="{% static "CommonTemplates/Footer/techDeciphersFooter.js" %}"></script>
