.article-form-class {
  margin-top: 15px;
}

#articleFormButtons {
  float: right;
}

#previewPost {
  margin-right: 5px;
}

#uploadPost {
  margin-left: 5px;
}

#id_isChildPage {
  position: relative;
  top: 4px;
  width: 18px;
  height: 20px;
}

.child-tutorial-information {
  display: none;
}
