<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ my_article_contents.heading }}</title>

    <!-- Common Imports Like Bootstrap and Jquery -->
    {% include "CommonTemplates/CommonImports/allImports.html" %}

    <!-- Link to My Script and CSS -->
    <link rel="stylesheet" href="{% static "CommonTemplates/ArticlePost/articlePost.css" %}">
    <script src="{% static "CommonTemplates/ArticlePost/articlePost.js" %}"></script>

  </head>
  <body>
    <!-- Navigation Bar -->
    {% include "CommonTemplates/NavigationBar/navigationBar.html" %}
    <!-- Trying this FIle to COmmit -->
    <div class="container">
      <!-- Main Body -->
      <div class="row">

        <div class="col-lg-9">
        {% if my_article_contents %}
          <div class="articleContainer">
            <div class="articleHead">
              <h1 id='postTitle'>{{ my_article_contents.heading }}</h1>
              <h6>"{{ my_article_contents.description }}"</h6>
              <hr>
              <p id='postDetails'>by <span id='articleAuthor'>{{ my_article_contents.postAuthor }}</span> <span id='postedDate1'>Posted on <span id=postedDate2>{{ my_article_contents.postPublishDate }}</span> </span> </p>
              <hr>
              {% if my_article_contents.previous_article_id or my_article_contents.next_article_id %}
                <h6>
                  {% if my_article_contents.previous_article_id %}
                    <span id="{{my_article_contents.previous_article_id}}"><a href="/tutorials/get_article_contents/?article_primary_id={{my_article_contents.previous_article_id}}"><i class="fas fa-angle-double-left"></i> {{my_article_contents.previous_article_title}}</a></span>
                  {% else %}
                    <span>No Previous Tutorial</span>
                  {% endif %}
                  {% if my_article_contents.next_article_id %}
                    <span class="float-right" id="{{my_article_contents.next_article_id}}"><a href="/tutorials/get_article_contents/?article_primary_id={{my_article_contents.next_article_id}}">{{my_article_contents.next_article_title}} <i class="fas fa-angle-double-right"></i></a></span>
                  {% else %}
                    <span class="float-right">No Next Tutorial</span>
                  {% endif %}
                </h6>
                <hr>
              {% endif %}
            </div>

            <div class="articleImage">
                {% if my_article_contents.article_image %}
                  <img src="{{ my_article_contents.article_image.url }}" alt="Oops, Sorry..!">
                {% else %}
                  <img class="card-img-top" src="{% static "TechDeciphers_Gadgets/Static_Files/imageNotFound.png" %}" alt="Oops, Sorry..!">
                {% endif %}
            </div>

            <div class="articleContent">
              <hr>
                {{ my_article_contents.content|safe }}
              <hr>
              <h6>
                {% if my_article_contents.previous_article_id or my_article_contents.next_article_id %}
                  {% if my_article_contents.previous_article_id %}
                    <span><a href="/tutorials/get_article_contents/?article_primary_id={{my_article_contents.previous_article_id}}"><i class="fas fa-angle-double-left"></i> {{my_article_contents.previous_article_title}}</a></span>
                  {% else %}
                    <span>No Previous Tutorial</span>
                  {% endif %}
                  {% if my_article_contents.next_article_id %}
                    <span class="float-right"><a href="/tutorials/get_article_contents/?article_primary_id={{my_article_contents.next_article_id}}">{{my_article_contents.next_article_title}} <i class="fas fa-angle-double-right"></i></a></span>
                  {% else %}
                    <span class="float-right">No Next Tutorial</span>
                  {% endif %}
                {% else %}
                  {% if my_article_contents.further_read_article_id %}
                    Further Read: <a href="/my_notebooks/get_article_contents/?article_primary_id={{my_article_contents.further_read_article_id}}">{{my_article_contents.further_read_article_title}}</i></a>
                  {% else %}
                    Further Read: No Articles to read.
                  {% endif %}
                {% endif %}
              </h6>
              <hr>
            </div>
          </div>
        {% endif %}
        </div>

        <div class="col-lg-3" id="corouselId">
          <!-- AdSense Code will be added here. -->
        </div>

      </div>
    </div>

  <!-- Footer -->
  {% include "CommonTemplates/Footer/techDeciphersFooter.html" %}

  </body>
</html>
