<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gadgets</title>

    <!-- Common Imports Like Bootstrap and Jquery -->
    {% include "CommonTemplates/CommonImports/allImports.html" %}

    <!-- Link to My Script and CSS -->
    <link rel="stylesheet" href="{% static "TechDeciphers_TopX/Css/topXForm.css" %}">
    <script src="{% static "TechDeciphers_TopX/Js/topXForm.js" %}"></script>

  </head>
  <body style='background-color: #f5f5f5'>

    <!-- Navigation Bar -->
    {% include "CommonTemplates/NavigationBar/navigationBar.html" %}


    <div class="container">
      <!-- Main Body Starts -->
      <div class="row">
        <div class="col-lg-12">

          <form action="" class="article-form-class" method="POST">
            {% csrf_token %}
            <p><label for="id_heading">TopX Name:</label>
            {{form.heading}}</p>

            <p><label for="id_miniHeading">Mini Heading:</label>
            {{form.miniHeading}}</p>

            <p><label for="id_typeOfNews">Type of TopX:</label>
            {{form.typeOfTopX}}</p>

            <p><label for="id_completeContent">Content:</label>
            {{form.completeContent}}</p>

            <p><label for="id_newsImage">Upload Image:</label>
            {{form.newsImage}}</p>

            <p><label for="id_postAuthor">Author:</label>
            {{form.postAuthor}}</p>

            <p><label for="id_postPublishDate">Publish Date:</label>
            {{form.postPublishDate}}</p>

            <p id="articleFormButtons"> <button type="button" class="btn btn-outline-info my-2 my-sm-0" id="previewPost">Preview Post</button> <button type="submit" class="btn btn-outline-info my-2 my-sm-0" id="uploadPost">Upload Post</button> </p>
          </form>

        </div>

      </div>
    </div>

    <!-- Footer -->
    {% include "CommonTemplates/Footer/techDeciphersFooter.html" %}

  </body>
</html>
